body {
    background: white;
    color: #444;
    font-family: "Open Sans", sans-serif;
  }

a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

a:active {
    color: #0b6bd3;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #0b6bd3;
    outline: none;
    text-decoration: none;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #007bff;
    color: white;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }

  .back-to-top i {
    padding-top: 10px;
    color: white;
  }

  #header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    background: white;
    box-shadow: 0px 0px 25px rgba(127, 137, 161, 0.3);
  }

  #header.header-scrolled {
  height: 70px;
  padding: 15px 0;
}