*{
  margin: 0;
  padding: 0;
}

body {
    background: white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
  }

#disp{
  background-image: url(./img/back.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:85vh;
  padding: 0 18px;
  text-align: center;
  align-items: center;
}

#disp h1{
  font-size: 40px;
}

#disp p{
  font-size: 15px;
}

#disp .button{
  font-size: 20px;
  text-decoration: none;
  color: black;
  border: black 2px solid;
  padding: 10px 15px;
  border-radius: 12px;
  margin-top: 15px;
}

#disp .button:hover{
  background: black;
  color:white;
}
#section-a{
  display: flex;
}
#section-a div{
  padding: 15px;
}
#section-a .box-1, #section-a .box-3, #section-a .box-5, #section-a .box-7, #section-a .box-9, #section-a .box-11{
  background:  black;
  color: green;
  text-align: center;
}
#section-a .box-2, #section-a .box-4, #section-a .box-6, #section-a .box-8, #section-a .box-10, #section-a .box-12{
background: white;
color: green;
text-align: center;
}

#footer {
  background: #00428a;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #004a99;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
